$font-family: 'SpaceMono', Arial, sans-serif;

$font-size-default: 16px;
$font-size-h1: 3.2rem;
$font-size-h2: 3rem;
$font-size-h3: 2.7rem;
$font-size-h4: 2.5rem;
$font-size-h5: 2.2rem;
$font-size-h6: 2rem;