.card {
    border: 3px solid $black;
    position: relative;
    box-shadow: 5px 5px 1px 0px rgba($black, 0.5);
    font-size: 1rem;
    @include line-height(1rem);
    &-title {
        display: inline-block;
        border: 3px solid $black;
        margin-left: 1rem;
        margin-top: -1rem;
        position: absolute;
        background-color: $white;
        padding: 0 1rem;
        font-family: $font-family-space;
    }
    &-content {
        padding: 1.5rem 0.5rem 0.5rem 0.5rem;
        background: $white;
        font-family: $font-family-tahoma;
    }
}