.social {
    display: flex;
    margin-bottom: 0.5rem; 
    margin-right: 0.5rem;
    &-link{
        font-size: 1rem;
        @include line-height(1.5rem);
        &:hover {
            text-decoration: none;
        }
        
        &.twitter {
            color: #2AA3EF;
            &:hover {
                color: darken(#2AA3EF, 20%);
            }
        }
    
        &.github {
            color: #24292E;
            &:hover {
                color: lighten(#24292E, 20%);
            }
        }
    }
}
